<!DOCTYPE html>
<html>

<head>
    <title>TinderDog- create dog profile</title>

    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/create_dog_profile.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css">

<style>
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
	  -webkit-appearance: none;
	  margin: 0;
	}
</style>

</head>

<body>
    <div dir=rtl class="menu" id="myTopnav">

        {% include 'menu.html' %}

    </div>


    <main>
        <form id="form3" method="POST" action="" enctype="multipart/form-data">

            <fieldset id="f1">
                <h2>{{ message }}</h2>

                <legend> Fill the dog details</legend>


                <div>
                    <label class="lb1"> *Name: </label>
                    <input class="cls" dir="ltr" type="text" name="dog_name" autofocus required>
                </div>

                <div>
                    <label class="lb1"> *Chip number: </label>
                    <input class="cls" dir="ltr" type="number" name="chip_number" required>
                </div>

                <div>
                    <label class="lb1"> *Birth date: </label>
                    <input class="cls" dir="ltr" type="date" name="birth_date" required>
                </div>

                <div>
                    <label class="lb1"> *Gender: </label>
                    <select dir="ltr" class="cls" name="gender" required>
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                </div>

                <div>
                    <label class="lb1"> *Collection area: </label>
                    <select dir="ltr" class="cls" name="area" required>
                        <option>North</option>
                        <option>Center</option>
                        <option>South</option>
                    </select>
                </div>

                <div>
                    <label class="lb1"> *City: </label>
                    <input class="cls" dir="ltr" type="text" name="city" required>
                </div>

                <div>
                    <label class="lb1"> *Type/ Race: </label>
                    <input class="cls" dir="ltr" type="text" name="type" required>
                </div>


                <div>
                    <label class="lb1" id="imgl"> Description: </label>
                    <textarea class="cls" dir="ltr" cols="40" name="description" rows="3" maxlength="500"
                        placeholder="Such as: hobbies, behavior, size, color, affection for people"></textarea>
                </div>

                <div>
                     <label class="lb1"> *picture 1: </label>
                    <input class="cls" id="file" dir="ltr" type="file" name="files" required>
                </div>

                <div>
                    <label class="lb1"> picture 2: </label>
                    <input class="cls" id="file" dir="ltr" type="file" name="img2">
                </div>

                <div>
                    <label class="lb1"> picture 3: </label>
                    <input class="cls" id="file" dir="ltr" type="file" name="img3">
                </div>

                <br>

                <p id="must"><b>*Required field</b></p>
                <br>

				<input class="btn btn-primary" type="submit" value="Create a profile">


            </fieldset>
        </form>


    </main>

    <br>
    <br>

    <footer>
        <div class="footer">
            <p><b>App by MTA students<br>
                    Hadar Anuar & Mor Biton & Amit Ifrah<br>
                    DogsTinder©</b></p>
        </div>
    </footer>


</body>

</html>