<!DOCTYPE html>
<html>
	<head>
		<title>TinderDog- help</title>
		
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		
		<link rel="stylesheet" type="text/css" href="../css/help.css">

		<script defer src="../js/help.js"></script>

		</head>

		<style>

		</style>
		
	</head>
	<body>
	
	<header>
	<a href="homepage.html">
	<div id="left">
		<img id="logoPass" src="../images/לוגו פסים.png" alt="logo" height="50" width="60">
		<p id="big"> <b>DogTinder</b></p>
		<p id="small"> <b>Swipe.Match.Adopt</b></p>
	</div> </a>
	
		<button id="right" type="button"><a  href="homepage.html">חזור לדף הבית</a></button><br>

	</header>

	<main>
		<p class="question" id="q1">  ?איך מעלים פרופיל של כלב <img src="https://i.dlpng.com/static/png/284032_preview.png" alt="logo" height="20" width="20"></p>
		<br>
		<p class="answer" id="a1"><b> גש/י לדף הפרופיל ולחץ/י על כפתור "הוסף פרופיל /כלב", לאחר מכן לחץ/י "אישור" וכך הפרופיל נוסף בהצלחה</b><p>
	<br>
		<p class="question" id="q2">  דרכים ליצירת קשר <img src="https://i.dlpng.com/static/png/284032_preview.png" alt="logo" height="20" width="20"></p>
				<br>

		<p class="answer" id="a2"><b>  הנך מוזמן/ת לחייג ל 03-5024540 <br> או לשלוח מייל לכתובת <br> <a id="mail" href="mailto:hadaran@mta.ac.il"> hadaran@mata.ac.il </a><b></p>
			<br>

		
		<p class="question" id="q3">  תנאים ומדיניות הפרטיות <img src="https://i.dlpng.com/static/png/284032_preview.png" alt="logo" height="20" width="20"></p>
				<br>

		<p class="answer" id="a3"><b> 
	לא נפרסם את פרטייך האישיים ופרטי הכלב/ים שפירסמת פרט לאפליקציה זו <br> לא נפרסם בשמך הצעות/ שיחות וכיוצ"ב <br> החברה שומרת את הזכות לשנות את התקנון בכל עת ולעדכן את קהל לקוחותיה על כך
	<b></p>
		<br>

		<p class="question" id="q4">  מידע על האפליקציה <img src="https://i.dlpng.com/static/png/284032_preview.png" alt="logo" height="20" width="20"></p>
				<br>

		<p class="answer" id="a4"><b> האפליקציה הוקמה ע"י שלוש יזמיות: הדר אנואר, מור ביטון ועמית יפרח, מתוך מטרה לעזור בתהליך חיפוש הכלב המתאים ביותר עבורך 	
	</main>

	</body>
</html>