<!DOCTYPE html>
<html>

<head>
    <title>TinderDog</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css') }}">
        <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css">

</head>

<body>

    <div id="all" >

        <div id="top">
            <img id="logoPass" src="{{ url_for('static', filename='images/logo_pasim.png') }}" alt="logo" height="60"
                width="60">
            <p id="big"> <b>DogTinder</b></p>
            <p id="small"> <b>Swipe.Match.Adopt</b></p>
        </div>

        <div id="down" style="margin-top:-5%;">

			<a class="btn btn-primary btn-lg" href="{{url_for('register') }}" role="button">Register</a>

            <p id="already"><b>You already have a user?</b></p>
            <br>
			<a class="btn btn-primary btn-lg" href="{{url_for('login') }}" role="button">Login</a>


        </div>

    </div>


</body>

</html>