
<!DOCTYPE html>
<html>
	<head>
		<title>TinderDog- login</title>
		
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/login.css') }}">

		<style>
		
		</style>
		
	</head>
	<body>
	
	<div id="all">
	
	<div id="top">
	<img id="logoPass" src="{{ url_for('static', filename='images/logo_pasim.png') }}" alt="logo" height="60" width="60">
	<p id="big"> <b>DogTinder</b></p>
	<p id="small"> <b>Swipe.Match.Adopt</b></p>
	</div>
	
	<div id="down">
		<form id="form1" method="POST" action="" >

<fieldset id="f1">
<legend> הכנס פרטי התחברות </legend>

<div>
<input class="cls" dir="rtl" type="text" name="user_name" autofocus required>
<label class="lb1"> :שם משתמש*  </label>

</div>
<br>
<div>
<input class="cls"  dir="rtl" type="password" name="password" required>
<label class="lb1"> :סיסמא* </label>

</div>
<br>

<p id="must"><b>שדה חובה*</b></p>
<br>
    <input class="submit_reset" type="reset" value="נקה שדות" >
    <input class="submit_reset" type="submit" value="כניסה" >


</fieldset>
</form>
	</div>
	
	<button id="backButton" type="button"><a  href="{{url_for('index') }}">חזור לדף הקודם</a></button><br>
	
	</div>


	</body>
</html>