<!DOCTYPE html>
<html>

<head>
    <title>TinderDog- login</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/login.css') }}">
	<link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css">

</head>

<body>

    <div id="all">

        <div id="top">
            <img id="logoPass" src="{{ url_for('static', filename='images/logo_pasim.png') }}" alt="logo" height="60"
                width="60">
            <p id="big"> <b>DogTinder</b></p>
            <p id="small"> <b>Swipe.Match.Adopt</b></p>
        </div>

        <div id="down">
            <form id="form1" method="POST" action="" style="margin-top:-8%;">

                <fieldset id="f1">
                    {{ message }}
                    <legend> Enter Login Details </legend>

                    <div>
                        <label class="lb1" style="margin-right:-5%;"> *NickName: </label>
                        <input class="cls" dir="ltr" type="text" name="username" autofocus required >
                    </div>
                    <br>
                    <div>
                        <label class="lb1" style="margin-right:-5%;"> *Password: </label>
                        <input class="cls" dir="ltr" type="password" name="password" required>
                    </div>
                    <br>

                    <p id="must"><b>*Required field</b></p>
                    <br>
					<a class="btn btn-light btn-lg" href="{{url_for('index') }}" role="button">Back</a>
                    <input class="btn btn-primary btn-lg" type="submit" value="Enter">

                </fieldset>
            </form>
        </div>

    </div>


</body>

</html>