
<!DOCTYPE html>
<html>
	<head>
		<title>TinderDog- register</title>
		
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/register.css') }}">

		<style>
		
		</style>
		
	</head>
	<body>
	
	<div id="all">
	
	<div id="top">
	<img id="logoPass" src="{{ url_for('static', filename='images/logo_pasim.png') }}" alt="logo" height="60" width="60">
	<p id="big"> <b>DogTinder</b></p>
	<p id="small"> <b>Swipe.Match.Adopt</b></p>
	</div>
	
	<div id="down">
		<form id="form2" method="POST" action="" >

<fieldset id="f1">
<legend> מילוי פרטים </legend>

<div>
<input class="cls" dir="rtl" type="text" name="first_name" autofocus required >
<label class="lb1"> :שם פרטי*  </label>
</div>

<div>
<input class="cls" dir="rtl" type="text" name="last_name" autofocus required >
<label class="lb1"> :שם משפחה* </label>
</div>

<div>
<input class="cls" dir="rtl" type="text" name="user_name" autofocus required >
<label class="lb1"> :שם משתמש*  </label>
</div>

<div>
<input class="cls"  dir="rtl" type="password" name="password1" required>
<label class="lb1"> :סיסמא* </label>
</div>

<div>
<input class="cls"  dir="rtl" type="password" name="password2" required>
<label class="lb1"> :ודא סיסמא* </label>
</div>

<div>
<input class="cls"  dir="rtl" type="tel" name="telNum" required>
<label class="lb1"> :מספר טלפון* </label>
</div>

<div>
<input class="cls"  dir="rtl" type="email" name="mail" required>
<label class="lb1"> :אימייל* </label>
</div>

<br>

<p><b>שדה חובה*</b></p>
<br>

    <input class="submit_reset" type="reset" value="אפס טופס" >
    <input class="submit_reset" type="submit" value="שלח" >


</fieldset>
</form>

	</div>
	
	<button id="backButton" type="button"><a  href="{{url_for('index') }}">חזור לדף הקודם</a></button><br>
	
	</div>


	</body>
</html>