<!doctype html>
<html dir="rtl">
	<head>
		<title>DogTinder</title>
		<!-- meta tags -->
		    <meta charset="utf-8" dir="rtl">
		    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
			
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="../css/updateDog.css">
<link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css" integrity="sha384-vus3nQHTD+5mpDiZ4rkEPlnkcyTP+49BhJ4wJeJunw06ZAp+wzzeBPUXr42fi8If" crossorigin="anonymous">


		<!-- js -->

	</head>
	<body>

		<div class="topnav" id="myTopnav">
   <a  href="homepage.html"> <img id="logo" src="../images/לוגו.png"></a>
  <a  href="DogTinder- index.html" class="active">התנתק</a>
  <a href="#">צ'אט</a>
  <a href="create_dog_profile.html">הוספת כלב</a>
  <a href="help.html">עזרה</a>
   <a href="updateUser.html">עריכת פרופיל</a>
    <a href="#about"> <i class="fa fa-user" style= "margin-left:10px;"></i>שם משתמש</a>
  
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
  </div>
  <br>
  
  <div class="container">
  <div class="card">
		        <div class="card-body bg-transparent">
    <h1 class="text-center" style="display:inline; ">הפרופיל של שון</h1> <span style="margin-right:10px;"><input type="button" class="btn btn-danger" value="מחק פרופיל"></span>
         
             
  	<hr>
	<div class="row">
      <!-- left column -->
      <div class="col-md-4">
        <div class="text-center">
          <img src="../images/dog.jpg" height=100px width=200px class="avatar img-circle" alt="avatar">
          <h6>שנה תמונת פרופיל</h6>
          
          <input type="file" class="form-control">
        </div>
      </div>
      
      <!-- edit form column -->
      <div class="col-md-8 personal-info">
        <div class="alert alert-info alert-dismissable">
          <a class="panel-close close" data-dismiss="alert">×</a> 
          <i class="fa fa-coffee"></i>
          This is an <strong>.alert</strong>. Use this to show important messages to the user.
        </div>
        <h3>פרטים אישיים</h3>
        
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-lg-3 control-label">שם:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="Jane">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">מין:</label>
            <div class="col-lg-8">
              <div class="form-check">
  <input class="form-check-input" type="radio" name="gender" id="exampleRadios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
זכר
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="gender" id="exampleRadios2" value="option2">
  <label class="form-check-label" for="exampleRadios2">
נקבה
  </label>
</div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">תאריך לידה:</label>
            <div class="col-lg-9">
              <input class="form-control" type="date" value="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">עיר:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="לוד">
            </div>
          </div>
     
          <div class="form-group">
            <label class="col-md-3 control-label">גזע:</label>
            <div class="col-md-8">
              <input class="form-control" type="text" value="janeuser">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
               <label for="exampleFormControlTextarea1">תיאור:</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">תמונות:</label>
            <div class="col-md-8">
              <div style="float:right"><img style="margin-left: 5px;"src="../images/dog.jpg"  height=80px width=80px><br><br> <input style= "margin-right:15px;" type="button" class="btn btn-danger btn-sm" value="מחק" ></div>
			 <div style="float:right"> <img style="margin-left: 5px;" src="../images/dog.jpg"  height=80px width=80px><br><br> <input style= "margin-right:15px;" type="button" class="btn btn-danger text-center btn-sm" value="מחק" ></div>
			  <img src="../images/dog.jpg" height=80px width=80px> <br><br><input style= "margin-right:15px;" type="button" class="btn btn-danger btn-sm" value="מחק" >
			  
			    <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
               <label for="exampleFormControlTextarea1">הוסף תמונה:</label>
			    <input type="file" class="form-control">
            </div>
          </div>
			
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <input type="button" class="btn btn-primary" value="שמור שינויים">
              <span></span>
              <input type="reset" class="btn btn-default" value="אפס">
            </div>
          </div>
        </form>
      </div>
  </div>
</div>
</div>
</div>

  
  <br>
  <br>
  
  <footer> 
<div class="footer">
<p><b>App by MTA students<br>
					Hadar Anuar & Mor Biton & Amit Ifrah<br>
					DogsTinder©<b> </p> 
</div>	
</footer>
<hr>

<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>
</body>
</html>
  






